.boardContainer {
  border:2px solid grey;
  width:300px;
  height:600px;
  margin:auto;
  background: black;
  position: relative;
}

.square {
  width:28px;
  height:28px;
  border:1px solid white;
  position: absolute;
}