.gameInfoContainer {
  width:200px;
  display:inline-block;
  position: absolute;
  font-weight: bold;
  top:-30px;
  left:330px;
  text-align: center;
  color:rgb(235, 235, 235);
}

.infoDiv {
  margin-top:50px;
  p {
    height:20px;
  }
}

.nextContainer {
  position: relative;
  height:68px;
  width:68px;
  margin-left:23px;
}